.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.introTxt{
    margin-left: 300px;
}

.mainTxt{
    color: rgb(137, 20, 201) ;
    font-weight: 1200;
    font-size: 7ch;
    margin-bottom: 10px;
}

.contentTxt{
    /* color: rgb(83, 19, 83) ; */
    color: white;
    font-weight: 900;
    font-size: 2ch;
    margin-bottom: 5px;
}

.myTxt{
    color: white;
    font-weight: 900;
    font-size: 1ch;
}

.introImg{
    width: 600px;
    height: 600px;
    margin-right: 200px;
}

.mainWallet{
    margin-top: 20px;
}