.container{
    display: flex;
    align-items: center;

    background-color: #232227;
    border-bottom: 1px solid #363536;
}

.item:nth-child(1){
    flex-grow: 1;
}

.item:nth-child(2){
    flex-grow: 1;
}