.connectBtn{
    width: 160px;
    height: 35px;
    background-color:darkturquoise;
    
    border-radius: 17px;
    border-color: transparent;

    color: white;
    font-weight: 800;
    font-size: 1.5ch;

}
